<EditForm Model="NewMountain">
    <div class="modal @Modal.Class" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" style="width:350px">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Add Mountain</h4>
                    <button type="button" class="close" @onclick="Close">&times;</button>
                </div>

                <div class="modal-body">
                    <label>
                        Name:
                        <br />
                        <InputText maxlength="30" @bind-Value="@NewMountain.Name" />
                    </label>
                    <br />
                    <label>
                        Height:
                        <br />
                        <InputNumber @bind-Value="@NewMountain.Height" />
                    </label>
                    <label>
                        Country:
                        <br />
                        <InputText maxlength="30" @bind-Value="@NewMountain.Country" />
                    </label>
                    <label>
                        Image:
                        <InputFile OnChange="UploadFile" />
                    </label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger mr-auto" @onclick="Close">Cancel</button>
                    <button class="btn btn-primary" @onclick="AddMountain">Add</button>
                </div>
                <p style="color:red;">@ErrorText</p>
            </div>
        </div>
    </div>
</EditForm>

@if (Modal.ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}