@page "/mountainDetail/{Id}"

<div style="text-align:center">
    @if (Mountain != null)
    {
        <img src="@imgSrc" alt="Card image cap" style="border-radius:50%">
        <h1 class="display-4">@Mountain.Name</h1>
        <br />
        <div class="d-flex justify-content-center">
            <div class="p-2">
                <button class="btn btn-primary" @onclick="() => AddAscentModal.Open()">Add ascent</button>
            </div>
            <div class="p-2">
                <button class="btn btn-danger">Delete mountain</button>
            </div>
        </div>    

        <div class="d-flex justify-content-around">
            <div class="p-2" style="text-align:left;">
                <p>Height: @Mountain.Height</p>
                <p>Ascents: @GetAscents()</p>
                <p>Country: @Mountain.Country</p>
            </div>
            <div class="p-2" style="max-width: 250px">
                <AscentList Ascents="@Mountain.Ascents" />
            </div>
        </div>


    }
</div>

<MyMountainAscents.UI.Components.Modals.AddAscentModal @ref="AddAscentModal" Mountain="@Mountain" />

